.home-main-content {
    background-image: url('../../../assets/images/Fond-Korobo.png');
    background-size: cover;
    /* padding: 5%; */
}

hero {
    background-image: url('../../../assets/images/Blur\ green.png');
}