.fond-bleu {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.fond-bleu::before {
    content: '';
    background-color: #91bceb;
    position: absolute;
    top: 25%;
    left: 2.5%;
    width: 95%;
    height: 60%;
    z-index: -1;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;

}